#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

.carouselHome {
  position: relative; 
  width: 100%;
  padding: 0;
}

.swiper {
  width: 97%;
  height: 100%;
  padding-bottom: 2rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.slide-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.5); 
  color: #fff;
  text-align: center;
  border-radius: 0 0 15px 15px;
  
}

.navigation-button {
  position: absolute;
  top: 50%;
  color: #ffa100;
}

.swiper-button-next {
  right: 15px;
  color: #ffa100;
}

.swiper-button-prev {
  left: 15px;
  color: #ffa100;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  /* color: var(--swiper-theme-color); */
  color: #ffa100;
  
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #ffa100;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
  
}
.swiper-pagination-bullet-active {
  background-color: orange !important;
}