footer {
  width: 100%;
  background: #2C2B2B;
  padding: 0;
  
}
.container{
  padding: 0 2rem 1rem;
}
footer .foo-row {
  display: flex;
  justify-content: space-around;
}

footer .foo-row .foo-col {
  width: 50%;
}

footer .foo-row .foo-col h2 {
  color: #E3E3E3;
  line-height: 40px;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

footer form .f-input {
  width: 70%;
  position: relative;
}

footer form .f-input input {
  width: 94%;
  display: block;
  padding: 1rem;
  background: white;
  border: none;
  font-size: 1rem;
  border-radius: 25px;
  outline: 0;
  color: #A7A1A1;;
}

footer form .f-input .hm-btn-round {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 20px;
}

footer .foo-row .foo-col ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .foo-row .foo-col ul li {
  width: 50%;
  margin: 1rem 3rem 1rem 0;
  list-style: none;
}

footer .foo-row .foo-col ul li a {
  color: #ffa100;
  font-size: 1.3rem;
  text-decoration: none;
}

footer .foo-row .foo-col ul li a:hover {
  color: #007aff;
}


.icono-redes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0.5rem 0;
  background: white;
  border-radius: 50%;
}
.icono-redes a{
  color: #ffa100;
  display: flex;
}
.icono-redes a:hover{
  color: #007aff;

}


.foo-copy {
  text-align: center;
  color: #E3E3E3;
  font-size: 0.9rem;
  font-weight: 300;
}


@media (min-width: 769px){
  footer form .f-input .hm-btn-round{
    right: -10px;
    border-radius: 0 25px 25px 0;
    width: 50px;
    height: 50px;
  }
  footer form .f-input input{
    border-radius: 0 25px 25px 0;
  }

  .foo-copy {    
    font-size: 0.8rem;    
  }
}


@media (max-width: 768px){
  footer .foo-row .foo-col h2 {
    font-size: 1.5rem;
  }
  footer form .f-input .hm-btn-round{
    right: -10px;
    border-radius: 0 20px 20px 0;
  }
  
  footer form .f-input input{
    border-radius: 0 20px 20px 0;
  }
  footer .foo-row .foo-col ul li a{
    font-size: 1rem;
  }
  .icono-redes{
    width: 35px;
    height: 35px;
  }
  .footer form .f-input input{
    padding: .8rem;
  }
  .foo-copy {    
    font-size: 0.8rem;    
  }
}

@media (max-width: 426px){
  footer .foo-row .foo-col h2 {
    font-size: 1.3rem;
  }
  .footer .foo-row .foo-col ul li a{
    font-size: 1rem;
  }
  .icono-redes{
    width: 35px;
    height: 35px;
  }
  .footer form .f-input input{
    padding: .5rem;
    width: 100%;
    font-size: .9rem;
    border-radius: 0 20px 20px 0;
  }
  form{
    width: 120%;
  }
  footer form .f-input .hm-btn-round{
    width: 32px;
    height: 32px;
    right: -10%;
    border-radius: 0 20px 20px 0;
  }
  .container{
    padding: 0 1rem .5rem;
  }
  footer .foo-row .foo-col h2 {
    line-height: 1.5rem;
  }
  .f-input button svg {
    font-size: 1rem;
  }
  .foo-copy {    
    font-size: 0.7rem;    
  }
  
}


@media (max-width: 376px){
  .footer .foo-row .foo-col ul{
    justify-content: space-between;
}
}
@media (max-width: 321px){
    .footer .foo-row .foo-col ul {
    padding-left: 1rem;
  }
  .footer .foo-row .foo-col ul li{
    width: 55%;
  }
  form{
    width: 140%;
  }

  .foo-copy {    
    font-size: 0.7rem;    
  }

}