footer {
  width: 100%;
  background: #2C2B2B;
  padding: 0;
  
}
.container{
  padding: 2rem 2rem 1rem;
}
footer .foo-row {
  display: flex;
  justify-content: space-around;
}

footer .foo-row .foo-col {
  width: 50%;
}

footer .foo-row .foo-col h2 {
  color: #E3E3E3;
  line-height: 40px;

  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

footer form .f-input {
  width: 70%;
  position: relative;
}

footer form .f-input input {
  width: 94%;
  display: block;
  padding: 1rem;
  background: white;
  border: none;
  font-size: 1rem;
  border-radius: 25px;
  outline: 0;
  color: #A7A1A1;;
}

footer form .f-input .hm-btn-round {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  border: none;
  font-size: 1.3rem;
  /* margin-right: 3px; */
  cursor: pointer;
  border-radius: 20px;
}

footer .foo-row .foo-col ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

footer .foo-row .foo-col ul li {
  width: 50%;
  height: 100%;
  margin-bottom: 1.5rem;
  list-style: none;
}

footer .foo-row .foo-col ul li a {
  color: #E3E3E3;
  font-size: 1.3rem;
  text-decoration: none;
}

footer .foo-row .foo-col ul li a:hover {
  color: #f44336;
}

.icono-redes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
}
.icono-redes a{
  color: #f44336;
  display: flex;
}
.icono-redes a:hover{
  color: #551A8B;

}

.foo-copy {
  text-align: center;
  color: #E3E3E3;
  font-size: 1.3rem;
  font-weight: 300;
}
