footer {
  width: 100%;
  background: #2C2B2B;
  padding: 0;
}

.container {
  padding: 0 1rem 0.3rem;
}

footer .foo-row {
  display: flex;
  justify-content: space-around;
}

footer .foo-row .foo-col {
  width: 50%;
}

footer .foo-row .foo-col h2 {
  color: #E3E3E3;
  line-height: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

footer form .f-input {
  width: 70%;
  position: relative;
}

footer form .f-input input {
  width: 84%;
  display: block;
  padding: 0.5rem;
  background: white;
  border: none;
  font-size: 1rem;
  border-radius: 25px;
  outline: 0;
  color: #A7A1A1;  
}

footer form .f-input .hm-btn-round {
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translateY(-50%); 
  width: 40px !important;
  height: 40px !important;
  border: none;
  font-size: 0.3rem;
  cursor: pointer;
  border-radius: 20px;
}

footer .foo-row .foo-col ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

footer .foo-row .foo-col ul li {
  width: 50%;
  margin: 1rem 2rem 1rem 0;
  list-style: none;
}

footer .foo-row .foo-col ul li a {
  color: #ffa100;
  font-size: 1.3rem;
  text-decoration: none;
}

footer .foo-row .foo-col ul li a:hover {
  color: #bd4b00;
}

.icono-redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0.5rem 2.3rem 0.5rem 0;
  background: white;
  border-radius: 50%;
}

.icono-redes a {
  color: #ffa100;
  display: flex;
}

.icono-redes a:hover {
  color: #bd4b00;
}

.foo-copy {
  text-align: center;
  color: #E3E3E3;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0 0 0 3rem;
}

@media (min-width: 769px) {
  footer form .f-input .hm-btn-round {
    right: 0px;
    transform: translateX(-100%) !important;
    border-radius: 0 25px 25px 0;
    width: 50px;
    height: 50px;
  }

  footer form .f-input input {
    border-radius: 0 25px 25px 0;
    padding: 0.7rem;
  }

  .foo-copy {
    font-size: 0.8rem;
    margin: 0 0 0 3rem;
  }
}

@media (max-width: 768px) {
  footer .foo-row .foo-col h2 {
    font-size: 1.5rem;
  }  

  footer form .f-input input {
    padding: .5rem;
    width: 100%;
    font-size: .9rem;
    border-radius: 0 20px 20px 0; 
  }

  footer form .f-input .hm-btn-round {    
    border-radius: 0 20px 20px 0;
    transform: translateX(-50%) !important;
    right: -15%;       
    width: 40px !important;
    height: 40px !important;
  }

  footer .foo-row .foo-col ul li a {
    font-size: 1rem;
  }

  .icono-redes {
    width: 30px;
    height: 30px;
  }

  .footer form .f-input input {
    padding: .8rem;
  }

  .foo-copy {
    font-size: 0.8rem;
    margin: 0 0 0 3rem;
  }
}

@media (max-width: 426px) {
  footer .foo-row .foo-col h2 {
    font-size: 1.3rem;
  }
  footer .foo-row .foo-col ul {
    flex-wrap: nowrap;
    
  }

  .footer .foo-row .foo-col ul li a {
    font-size: 1rem;
  }

  .icono-redes {
    width: 30px;
    height: 30px;
  }

  .footer form .f-input input {
    padding: .5rem;
    width: 100%;
    font-size: .9rem;
    border-radius: 0 20px 20px 0;    
  }

  form {
    width: 120%;
  }

  footer form .f-input .hm-btn-round {       
    right: -15%;    
    transform: translateX(-30%) !important;
    width: 31px !important;
    height: 31px !important;
  }

  .container {
    padding: 0 1rem .5rem;
  }

  footer .foo-row .foo-col h2 {
    line-height: 1.5rem;
  }

  .f-input button svg {
    font-size: 1rem;
  }

  .foo-copy {
    font-size: 0.7rem;
    margin: 0 0 0 3rem;
  }
}

@media (max-width: 376px) {
  .footer .foo-row .foo-col ul {
    padding: 0;
  }  
  
}

@media (max-width: 321px) {

  .footer form .f-input input {
    padding: .5rem;
    width: 100%;
    font-size: .8rem;
    border-radius: 0 20px 20px 0;    
  }

  footer form .f-input .hm-btn-round {     
  width: 31px !important;
  height: 31px !important;  
  }

  .footer .foo-row .foo-col ul li {
    width: 55%;
  }

  form {
    width: 140%;
  }

  .foo-copy {
    font-size: 0.7rem;
    margin: 0.2rem 0 0 3rem;
  }
  footer form .f-input {
    width: 62%;
    position: relative;
  }
  footer form .f-input .hm-btn-round{
    right: -20%;
  }
  .foo-copy{
    font-size: .5rem;
  }
}