.contenedor-enlaces {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  text-decoration: none;
}

.enlaceItem {
  width: 20%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: comic;
  font-size: 40px;
  color: white;
}

.enlaceItem:hover {
  background-color: lightblue;
  cursor: pointer;
}