
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Lato&family=Roboto&family=Roboto+Condensed&display=swap');

body{
    background: white !important;
}

.LinkRouter{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    
    color: white;;
    
}
.font-class{
    font-family: 'Kablammo', cursive !important;
}